h1 {
    color: red;
    /* transition: color 2s, font-size 3s; */
    transition-property: transform, color, font-size;
    transition-duration: 2s, 2s, 3s;
    /* transition-delay: 2s, 1s; */
    transform-origin: center;
}

h1:hover {
    color: aqua;
    font-size: 3em;
    transform: rotate(90deg);
}

h2 {
    animation-name: color;
    animation-duration: 2s;

}

@keyframes color {
    from {
        color: red;
    }
    to {
        color: yellow;
    }
    
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
a:link {
    color: greenyellow;
}

a:visited {
    color: fuchsia;

}

a:active {
    color: beige;
}


input[type="text"]:focus{
    border-radius: 5px;
    outline: none;
    border: none;
    box-shadow: 3px 3px 5px aqua;
    padding: 5px 5px;

}

input[type="checkboc"]:checked{
    border-radius: 5px;
    outline: none;
    border: none;
    box-shadow: 3px 3px 5px aqua;
}

/* section p:first-of-type{
    color: red;
} */


/* section p:last-child{
    color: red;
}

section p:nth-child(odd){
    color: fuchsia
} */

/* section p:nth-of-type(3){
    color:fuchsia;
} */

/* p::first-letter{
    font-size: 3em;
    color: fuchsia;
} */

/* p:first-of-type::first-line{
    color: fuchsia;
} */

/* p::selection{
    background-color: beige;
    color: firebrick;
    font-size: 2em;
} */

h1::before{
    content: "-";
    color: blue;
}

h1::after{
    content: "*";
    color: yellow;
}

p::after{
    content: "...";
    color: green;
}